body {
  min-height: 100vh;
  min-width: 100vh;
  background-color: orange;
  color: white;
}

h1 {
  color: green;
}

p {
  font-weight: bold;
}

.action {
  display: flex;
  justify-content: center;
}

.action button {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2*3));
}

.card {
  height: calc(140px / 2*3);
  width: 140px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5 ease-in-out;
}

.front-image {
  width: 60px;
  height: 60px;
}

.card .flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
}