* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #2a2a2a;
  color: white;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
}

header {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
}

h1 {
  margin-bottom: 80px;
  margin-top: 40px;
  font-size: 3rem;
  color: #7bff00;
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  h2{
    width: 10px;
    margin-top: -130%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
  perspective: 1000px;
}

.card {
  width: 100px;
  height: 120px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  align-items: center;
}

.card.flip {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.card .front {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-image: url("../image/animal.jpg");
  background-repeat: no-repeat;
}

.card .back {
  background-color: #0f0f0f;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px; /* ⬅ Bigger emojis */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* ⬅ Nice shadow */
}

.btn {
  width: 6rem;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #7bff00;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-top: 20px;
}
